
          /* Desktop and up  */
          :root {
            font-size: 1.1vw;
          }

          /* Max Font Size */
          @media screen and (min-width: 1800px) {
            :root {
              font-size: 18px;
            }
          }

          /* tablet */
          @media screen and (max-width: 991px) {
            :root {
              font-size: 80%;
            }
          }

          /* portrait */
          @media screen and (max-width: 479px) {
            :root {
              --_spacing---section-space--padding-horizontal: 1rem;
            }
          }
